body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
  font-family: 'Rock Salt', cursive;
  background: url(/img/restaurant.jpeg)
    top center
    no-repeat
    fixed;
  height: 75vh;
  width: 100%;
  color: white;
}
